<!DOCTYPE html>
<html lang="en">
<head>
    <title>Now.vn</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CSSFile/AdminCSS/Now_AdminCSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini">Now.vn</span>
                <span class="logo-lg">Now Admin</span>
            </a>
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg"
                                     alt="userImage" class="user-img">
                                @if (Session["AdminLogin"] != null)
                                {
                                    var item = (UILayer.Models.UserLogin)Session["AdminLogin"];
                                    <span class="hidden-xs">@item.UserName</span>
                                }
                                else
                                {
                                    <span class="hidden-xs">Admin name</span>
                                }

                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg" alt="User Image" class="img-circle">
                                    <p>Người quản trị</p>
                                </li>
                                <li class="user-body"></li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogoutAdmin","Admin")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar" style="height: auto;">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg" alt="userImage" class="img-circle">
                    </div>
                    <div class="pull-left info">
                        @if (Session["AdminLogin"] != null)
                        {
                            var item = (UILayer.Models.UserLogin)Session["AdminLogin"];
                            <p>@item.UserName</p>
                        }
                        else
                        {
                            <p>Admin name</p>
                        }
                    </div>
                </div>
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview menu-open">
                        <span>User Management</span>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("UserManagement","Admin")">User</a>
                            </li>
                            <li>
                                <a href="#">Emplyee</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" treeview menu-open">
                        <span>Restaurant Management</span>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("RestaurantManagement","Admin")">Restaurant</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" treeview menu-open">
                        <span>Statistical</span>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#">Revenue Management</a>
                            </li>
                            <li>
                                <a href="#">Item 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" treeview menu-open">
                        <span>Now Ship</span>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#">Delivery Driver</a>
                            </li>
                            <li>
                                <a href="#">Item 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="min-height: 926px;">
             @RenderBody()
        </div>
    </div>
   
</body>
</html>