@model IEnumerable<Model.Restaurant_Mapper>
@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/CSSFile/Now_ProductCSS.css">

<div class="container">
    <div class="search-filter">
        <div class="nav-filter clear-fix">
            <div class="list-filter">
                <div class="item-filter">
                    <span class="dropdown-toggle" id="district">Khu vực</span>
                    <!-- <div class="container-box-filter">
                        <div class="content">
                            <div class="custom-checkbox">
                                <input type="checkbox" data-text="Quận 1" id="distric 1">
                                <label for="district 1">Quận 1</label>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="item-filter">
                    <span class="dropdown-toggle" id="category">Phân loại</span>
                    <!-- <div class="container-box-filter">
                        <div class="content">
                            <div class="custom-checkbox">
                                <input type="checkbox" data-text="Quận 1" id="distric 1">
                                <label for="di strict 1">Quận 1</label>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="filter-result">
                <div class="result">100 Kết quả</div>
                <select name="filter-sort" id="filter-sort" class="filter-sort">
                    <option value="1">Đúng nhất</option>
                    <option value="2">Gần tôi</option>
                    <option value="3">Đặt nhiều</option>
                    <option value="4">Vừa đặt</option>
                    <option value="5">Mới</option>
                    <option value="6">Gợi ý</option>
                </select>
            </div>
        </div>
    </div>
    <div class="list-restaurant">
        <div class="sub-list-restaurant">
            @foreach (var item in Model)
            {
                <div class="item-restaurant">
                    <a href="@Url.Action("GetRestaurantDetailByID", "Restaurant")" class="item-content">
                        <div class="img-restaurant">
                            <img src="~/Content/Image/ImgRestaurant/@Html.DisplayFor(model => item.Image)" alt="imgRes">
                        </div>
                        <div class="info-restaurant">
                            <div class="info-basic-res">
                                <h4 class="name-res" title="San Fu Lou - Ẩm Thực Quảng Đông - Lê Lai">
                                    <span class="icon icon-quality-merchant" title=""></span>@Html.DisplayFor(model => item.RestaurantName)
                                </h4>
                                <div class="address-res" title="Tầng Trệt, AB Tower, 76A Lê Lai, Quân 1, TP.HCM">@Html.DisplayFor(model => item.Address)</div>
                            </div>
                            <p class="kind-restaurant">@Html.DisplayFor(modelItem => item.TypeId)</p>
                        </div>
                        <div class="opentime">
                            <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                    </a>
                </div>
            }
            @* 2 Double List Restaurant *@
            @foreach (var item in Model)
            {
                <div class="item-restaurant">
                    <a href="@Url.Action("GetRestaurantDetailByID", "Restaurant")" class="item-content">
                        <div class="img-restaurant">
                            <img src="~/Content/Image/ImgRestaurant/@Html.DisplayFor(model => item.Image)" alt="imgRes">
                        </div>
                        <div class="info-restaurant">
                            <div class="info-basic-res">
                                <h4 class="name-res" title="San Fu Lou - Ẩm Thực Quảng Đông - Lê Lai">
                                    <span class="icon icon-quality-merchant" title=""></span>@Html.DisplayFor(model => item.RestaurantName)
                                </h4>
                                <div class="address-res" title="Tầng Trệt, AB Tower, 76A Lê Lai, Quân 1, TP.HCM">@Html.DisplayFor(model => item.Address)</div>
                            </div>
                            <p class="kind-restaurant">@Html.DisplayFor(modelItem => item.TypeId)</p>
                        </div>
                        <div class="opentime">
                            <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                    </a>
                </div>
            }
            @* 3 Double List Restaurant *@
            @foreach (var item in Model)
            {
                <div class="item-restaurant">
                    <a href="@Url.Action("GetRestaurantDetailByID", "Restaurant")" class="item-content">
                        <div class="img-restaurant">
                            <img src="~/Content/Image/ImgRestaurant/@Html.DisplayFor(model => item.Image)" alt="imgRes">
                        </div>
                        <div class="info-restaurant">
                            <div class="info-basic-res">
                                <h4 class="name-res" title="San Fu Lou - Ẩm Thực Quảng Đông - Lê Lai">
                                    <span class="icon icon-quality-merchant" title=""></span>@Html.DisplayFor(model => item.RestaurantName)
                                </h4>
                                <div class="address-res" title="Tầng Trệt, AB Tower, 76A Lê Lai, Quân 1, TP.HCM">@Html.DisplayFor(model => item.Address)</div>
                            </div>
                            <p class="kind-restaurant">@Html.DisplayFor(modelItem => item.TypeId)</p>
                        </div>
                        <div class="opentime">
                            <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                    </a>
                </div>
            }
            @* 4 Double List Restaurant *@
            @foreach (var item in Model)
            {
                <div class="item-restaurant">
                    <a href="@Url.Action("GetRestaurantDetailByID", "Restaurant")" class="item-content">
                        <div class="img-restaurant">
                            <img src="~/Content/Image/ImgRestaurant/@Html.DisplayFor(model => item.Image)" alt="imgRes">
                        </div>
                        <div class="info-restaurant">
                            <div class="info-basic-res">
                                <h4 class="name-res" title="San Fu Lou - Ẩm Thực Quảng Đông - Lê Lai">
                                    <span class="icon icon-quality-merchant" title=""></span>@Html.DisplayFor(model => item.RestaurantName)
                                </h4>
                                <div class="address-res" title="Tầng Trệt, AB Tower, 76A Lê Lai, Quân 1, TP.HCM">@Html.DisplayFor(model => item.Address)</div>
                            </div>
                            <p class="kind-restaurant">@Html.DisplayFor(modelItem => item.TypeId)</p>
                        </div>
                        <div class="opentime">
                            <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                    </a>
                </div>
            }
            @* 5 Double List Restaurant *@
            @foreach (var item in Model)
            {
                <div class="item-restaurant">
                    <a href="@Url.Action("GetRestaurantDetailByID", "Restaurant")" class="item-content">
                        <div class="img-restaurant">
                            <img src="https://images.foody.vn/res/g10/90018/prof/s280x175/foody-upload-api-foody-mobile-foody-mobile-56-jpg--190620173721.jpg" alt="imgRes">
                        </div>
                        <div class="info-restaurant">
                            <div class="info-basic-res">
                                <h4 class="name-res" title="San Fu Lou - Ẩm Thực Quảng Đông - Lê Lai">
                                    <span class="icon icon-quality-merchant" title=""></span>@item.RestaurantName
                                </h4>
                                <div class="address-res" title="Tầng Trệt, AB Tower, 76A Lê Lai, Quân 1, TP.HCM">@item.Address</div>
                            </div>
                            <p class="kind-restaurant">@Html.DisplayFor(modelItem => item.TypeId)</p>
                        </div>
                        <div class="opentime">
                            <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <ul class="pagination">
        <li class="previous">
            <a href="#">
                <span class="icon icon-paging-pre"></span>
            </a>
        </li>
        <li class="active">
            <a href="#" class="undefined">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">
                <span class="icon icon-paging-next"></span>
            </a>
        </li>
    </ul>
</div>

