@model UILayer.Models.RestaurantCart

<link rel="stylesheet" href="~/Content/CSSFile/Now_ProductDetailCSS.css">


<div class="order-card-group">
    <div class="order-card-person">
        <div class="order-card-user">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="avatar">
                        <img src="https://images.foody.vn/default/s60/user-default-female.png" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="user-name">user001</div>
                </div>
                <div class="col-auto">
                    @Html.DisplayFor(model => Model.TotalAmount)
                </div>
            </div>
        </div>
        <div class="order-card-groups">
            <!-- Cart item -->
            @{
                if (Model != null)
                {
                    foreach (var item in Model.ItemCarts)
                    {
                        <div class="order-card-item">
                            <div class="clearfix">
                                <button class="btn-up" onclick="location.href = '@Url.Action("AddingItemInCart","MenuItem", new { resId = Model.ResId, itemId = item.ItemId })'">+</button>
                                <span class="number-order">@Html.DisplayFor(model => item.Quantity)</span>
                                <button class="btn-down" onclick="location.href = '@Url.Action("ReduceItemInCart","MenuItem", new { resId = Model.ResId, itemId = item.ItemId })'">-</button>
                                <span class="name-order">@Html.DisplayFor(model => item.ItemName)</span>
                            </div>
                            <div class="note-order">
                                <input type="text" id="txtNote" placeholder="Thêm ghi chú...">
                                <span class="price-order">@Html.DisplayFor(model => item.SubTotal)đ</span>
                            </div>
                        </div>
                    }
                }
            }
            <div class="row-bill-restaurant">
                <div class="row">
                    <div class="col">Cộng</div>
                    <div class="col-auto">
                        <span class="txt-bold">@Html.DisplayFor(model => Model.TotalPrice)đ</span>
                    </div>
                </div>
            </div>
            <div class="row-bill-restaurant txt-center input-promocode">
                <span class="text-danger">(*)</span>Nhập mã khuyến mãi ở bước hoàn tất
            </div>
            <div class="row-bill-restaurant relative">
                <div class="row">
                    <div class="col">Tổng cộng</div>
                    <div class="col-auto">
                        <span class="txt-bold txt-blue font16">@Html.DisplayFor(model => Model.TotalPrice)đ</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-red" id="btn-order">Đặt trước</button>
        </div>
    </div>
</div>


