@model IEnumerable<Model.Model_Mapper.DtoRestaurantInfo>

@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="now-banner ver_vi" id="now-banner" style="position: fixed; top: 70px;">
    <div class="container">
        <div class="now-search">
            <div>
                <h1 class="title">
                    Đặt đồ ăn giao hàng từ 20'...
                </h1>
                <div class="local">Có 46723 địa điểm ở TP.HCM từ 0:00 - 23:59</div>
            </div>
            @using (Html.BeginForm("GetRestaurantByName", "Restaurant", FormMethod.Post, new { id = "form-1" }))
            {
                <div class="form-search">
                    <div class="input-group">
                        <input type="text" name="txtSearchHome" id="txtSearchHome" placeholder="Tìm địa điểm, món ăn, địa chỉ..." value="">
                        <span class="form-message"></span>
                        <button type="submit" class="btn btn-search">
                            <span class="icon icon-search"></span>
                        </button>
                    </div>
                    <div class="idea-searching">
                        <div class="list-restaurant-row">
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="item-restaurant">
                                            <a href="@Url.Action("GetRestaurantInfo_MenuItemInfoByID", "Restaurant", new {restaurantId = item.Id})" class="item-content">
                                                <div class="img-restaurant">
                                                    <img src="~/Content/Image/ImgRestaurant/@Html.DisplayFor(model => item.Image)" alt="imgRes">
                                                </div>
                                                <div class="info-restaurant">
                                                    <div class="name-res">@Html.DisplayFor(model => item.RestaurantName)</div>
                                                    <div class="address-res">@Html.DisplayFor(model => item.Address), P.@Html.DisplayFor(model => item.WardName), Q.@Html.DisplayFor(model => item.DisctrictName), @Html.DisplayFor(model => item.ProvinceName)</div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="category-list-filter">
                <a href="@Url.Action("GetAllRestaurant","Restaurant")"><span class="category-item">All</span></a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 1 })"><span class="category-item">Đồ ăn</span></a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 2 })"><span class="category-item">Đồ uống</span></a>
                <a href="#"><span class="category-item">Đồ chay</span></a>
                <a href="#"><span class="category-item">Bánh kem</span></a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 3 })">
                    <span class="category-item">Tráng miệng</span>
                </a>
                <a href="#"><span class="category-item">Homemade</span></a>
                <a href="#"><span class="category-item">Vỉa hè</span></a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 4 })">
                    <span class="category-item">Pizza/Burger</span>
                </a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 5 })">
                    <span class="category-item">Món gà</span>
                </a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 6 })">
                    <span class="category-item">Món lẩu</span>
                </a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 7 })">
                    <span class="category-item">Sushi</span>
                </a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 8 })">
                    <span class="category-item">Mì phở</span>
                </a>
                <a href="@Url.Action("GetRestaurantByTagName","Restaurant", new { kindId = 9 })">
                    <span class="category-item">Cơm hộp</span>
                </a>
            </div>
            <div>
                <div class="font18 mb-2 mt-3">
                    Sử dụng app Now để có nhiều giảm giá
                    <br>
                    và trải nghiệm tốt hơn
                </div>
                <a href="#" target="_blank" rel="noopener noreferer">
                    <span class="icon icon-app-store-big"></span>
                </a>
                <a href="#" target="_blank" rel="noopener noreferer">
                    <span class="icon icon-gg-play-big"></span>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- Main home, search, tags, list restaurant and etc.... -->
<div class="contain-main-home clear-fix">
    <div class="container">
        <div class="main-right-home">
            <div class="user-get-local">
                <div class="row align-items-center no-gutters pointer">
                    <div class="col-auto">
                        <span class="txt-blue txt-bold">Đồ ăn</span>
                        <i class="fas fa-long-arrow-alt-right txt-gray-7 ml-2 font-12"></i>
                    </div>
                    <div class="col pl-2 pr-2 txt-elipsis">Chọn địa chỉ giao hàng</div>
                    <div class="col-auto">
                        <span class="pl-2 pr-2" data-toggle="modal">
                            <i class="fas fa-angle-right txt-gray-7"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="now-incoming">
                <div class="slick-slider slick-initialized">
                    <div class="slick-list">
                        <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">

                        </div>
                    </div>
                </div>
            </div>
            <div class="now-list-restaurant deal-tab">
                <div class="title-wrapper">
                    <h2 class="title">Ưu đãi</h2>
                    <a href="#" class="view-all-deal">
                        <span class="icon-list-deal">
                            <span class="quare"></span>
                            <span class="quare"></span>
                            <span class="quare"></span>
                            <span class="quare"></span>
                        </span>
                        Xem tất cả
                    </a>
                </div>
                <div class="list-restaurant">
                    <div class="now-loading-restaurant">
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/res/g67/660052/prof/s280x175/foody-mobile-foody-img_8662-63631-693-636313215808244816.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res" title="KongFo Việt Nam - Đường Số 2">KongFo Việt Nam - Đường Số 2</h4>
                                    <div class="address-res" title="96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm">96 đường số 2 khu phố hưng gia phường Tân Phong, quận 7, thành phố HCm</div>
                                </div>
                                <p class="content-promotion">
                                    <i class="fas fa-tag">
                                        Giảm hết 20%
                                    </i>
                                </p>
                                <div class="opentime status">
                                    <span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link">
                        <span class="pr-1">Xem thêm</span>
                        <i class="fas fe-redo font12"></i>
                    </button>
                </div>
            </div>
            <div class="now-list-restaurant collection">
                <div class="title-wrapper">
                    <h2 class="collection-title">Bộ sưu tập</h2>
                    <a href="#" class="view-all-deal">
                        Xem tất cả
                    </a>
                </div>
                <div class="list-restaurant">
                    <div class="now-loading-restaurant">
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a href="#" target="_blank" class="item-content">
                            <div class="img-restaurant">
                                <img src="https://images.foody.vn/delivery/collection/s320x200/image-4329dc25-201016150552.jpeg" alt="">
                            </div>
                            <div class="info-restaurant info-basic-res">
                                <h4 class="name-res" title="50 thương hiệu giảm 35%">50 thương hiệu giảm 35%</h4>
                                <div class="list-place" title="382 địa điểm">382 địa điểm</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link" id="last-view-more">
                        <span class="pr-1">Xem thêm</span>
                        <i class="fas fe-redo font12"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="corp-info">
    <div class="corp-container-content">
        <h4><span class="display-title corp">Đơn hàng của bạn sẽ được bảo quản như thế nào</span></h4>
        <span><p class="display-content corp">Now sẽ đảm bảo đơn hàng của bạn bằng túi & thùng để chống nắng mưa, giữ nhiệt... trên đường một cách tốt nhất</p></span>
        <img src="https://www.now.vn/app/assets/img/Box-food-preservation-footer.jpg?42147a4a586d72f2b7a21ea97478898e" alt="corpImage" class="corpo-img">
    </div>
</div>

<div class="container" id="app-info">
    <div class="app-container-content">
        <div class="text-app-area">
            <h4><span class="corp-title app">NowMerchant App</span></h4>
            <span><p class="display-content app">- <span class="font-weight-bold">NowMerchant</span> is an order management application for partner restaurants of on-site ordering service</p></span>
            <span>
                <p class="display-content app">
                    - <span class="font-weight-bold">Now.vn</span> is always ready to cooperate with restaurants, cafes, cafes ... to expand business as well as increase customers. Connect to the ordering and delivery system to reduce management, operation, marketing, technology ...
                    Register to join: <a href="#"><span class="text-primary font-weight-bold">here</span></a>
                </p>
            </span>
            <span><p class="display-content app">- Foody also provides <span class="font-weight-bold">Now POS</span> which built-in <span class="font-weight-bold">Now.vn</span>, store owners can track orders / visitors, update information / images / menus for Microsite with many features. other advantages. Sign up for a free trial <a href="#"><span class="text-primary">here</span>!</p></span>
        </div>
        <div class="img-app-area">
            <img src="https://www.now.vn/app/assets/img/banner-phone-reg-merchant.png?f9e17674dd5098225fb5eb0a55b95c45" alt="appImg" class="app-img">
        </div>
    </div>
</div>

<div class="container" id="recruiment-info">
    <div class="app-container-content recruiment">
        <div class="text-recruiment-area">
            <h4><a href="#"><span class="display-title recruiment"><span class="text-danger">NOW.VN </span><span class="text-primary">Hợp tác nhân viên giao nhận - Now Partners</span></span></a></h4>
            <span><p class="display-content recruiment">Giúp bạn tăng thu nhập trong thời gian rảnh rỗi</p></span>
            <span>
                <p class="display-content recruiment">
                    Now tìm kiếm hợp tác với các cá nhân để thực hiện việc giao hàng, chúng tôi sẽ cung cấp ứng dụng (app), 1 số dụng cụ cần thiết để bạn có thể tiếp nhận & giao hàng, kiếm thêm thu nhập
                    Đăng ký tham gia tại đây hoặc gửi Email qua jobs@gofast.vn - hoặc gọi qua số điện thoại 0286 656 9769.
                </p>
            </span>
        </div>
        <div class="img-recruiment-area">
            <img src="https://www.now.vn/app/assets/img/bg-deliverynow-dat-mon-truc-tuyen-giao-hang-tan-noi.png?b05356770176f467df57c4dc54c94c01" alt="recruiImg" class="recrui-img">
        </div>
    </div>
</div>

@*Jquery to hide or show search idea*@
<script>
    $('#txtSearchHome').on('keyup', function () {
        var searchValue = $(this).val();
        searchAndFilter(searchValue)
    })
    function searchAndFilter(searchString) {
        if (searchString == '') {
            $('.list-restaurant-row .item-restaurant').hide();
        }
        else {
            $('.list-restaurant-row .item-restaurant').each(function () {
                var currentText = $(this).text();
                currentText = currentText.toLowerCase();
                searchString = searchString.toLowerCase();
                if (currentText.indexOf(searchString) >= 0) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }
    }

    $(document).ready(function () {
        $('.list-restaurant-row .item-restaurant').hide();
    });
</script>

<script>
    $(window).scroll(function () {
        var hT = $('#last-view-more').offset().top,
            hH = $('#last-view-more').outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        if (wS > (hT + hH - wH + 50) && (hT > wS) && (wS + wH > hT + hH)) {
            $('#now-banner').css({ position: 'absolute', top: 700 });
        } else if (wS < (hT + hH - wH + 50) && (hT > wS) && (wS + wH > hT + hH)) {
            $('#now-banner').css({ position: 'fixed', top: 70 });
        }
    });
</script>


<script src="~/Content/JsFile/ValidateForm.js"></script>
<script>
    Validator({
        form: '#form-1',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequiredSearch('#txtSearchHome'),
        ],
    })
</script>